<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta Autor: Nicolás Gallego>
    <title>Log-in</title>
    <link rel="stylesheet" href="../assets/css/styles-login.css">
</head>
<body>

    <main>
        <div class="caja1">
            <img class="img1" src="../assets/img/vector-login.svg" alt="">
            <div class="contenido">
                <div class="espa">    
                </div>
            </div>
        </div>
    </main>

</body>
</html>